body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  background: url("https://i.pinimg.com/originals/ac/54/a1/ac54a128942c750799c2c1fe144d2467.jpg")no-repeat center center fixed;;
  background-size: cover;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: #a442f1;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
}

.make-list {
  background-color: #a442f1;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.intro-box {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  text-align: center;
}

.intro-box h2 {
  margin-bottom: 10px;
}

.intro-box p {
  color: #777;
  font-size: 16px;
}